.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    background: #1a754b;
    width: 100%;
    margin-top: 15px;
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.4);
}

.footer p{
    color: #f5f5f5;
}


@media (max-width: 600px) {
    .footer{
        text-align: center;
        min-width: 270px;
    }

}